@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Roboto&display=swap");

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav-bar-links {
  min-height: 10vh;
  width: 100%;
  background-color: #4846b9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.nav-link {
  color: white;
  font-size: 30px;
  position: relative;
}

#picture {
  background-image: url("Manufacturing_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 40%;
  height: 400px;
  /* width: 1440px;
  min-height: 60vh; */
}

.text-container {
  margin-top: 100px;
  margin-left: 60px;
  font-family: "Inter";
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    height: 37vh;
  }
  .nav-bar-links {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .nav-link {
    margin-bottom: 20px;
  }
}
