* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 5% 95%;
  height: 100vh;
}

header {
  background-color: #4846b9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#magnify {
  width: 30px;
  display: block;
  margin: 0 10px;
}

#header_icons {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 0 20px;
}

#header_icons img {
  width: 30px;
  margin: 0 10px;
}
